/* line 7 */
body {
  font-family: Verdana;
  font-size: 10pt;
  color: #473423;
  background-color: #f5eede;
}

/* line 14 */
.mug {
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #d3c5b0;
  overflow: hidden;
  display: inline-block;
}

/* line 24 */
.handle {
  background-color: #ac8b6f;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 80px;
  width: 60px;
  display: inline-block;
  margin-bottom: 30px;
}
