%canvas{:id => 'canvas', :width => '800px', :height => '600px'}

%div
  %h2 sterowanie
  %table
    %tr
      %th Klawisze
      %th Funkcja
    %tr 
      %td Strzałki
      %td obroty wokół osi x,y
    %tr 
      %td home, end
      %td obrót wokół osi z
    %tr 
      %td WSAD
      %td Ruch do przodu, tyłu i na boki
    %tr
      %td QZ
      %td Ruch w górę i w dół
    %tr
      %td 1, 2
      %td zoom
