%canvas{:id => "canvas", :width => "800px", :height => "600px"}

#panel
  %h2 Sterowanie
  %table
    %tr
      %th Klawisze
      %th Funkcja
    %tr 
      %td Strzałki
      %td Obroty wokół osi X i Y
    %tr 
      %td Home, End
      %td Obrót wokół osi Z
    %tr 
      %td W, S, A, D
      %td Ruch do przodu, do tyłu i na boki
    %tr
      %td Q, Z
      %td Ruch w górę i w dół
    %tr
      %td 1, 2
      %td Przybliżanie i oddalanie

  %h2 Demonstracje
  %input{:onclick => "startDemo1()", :type => "button", :value => "Demo 1"} 
  %input{:onclick => "startDemo2()", :type => "button", :value => "Demo 2"} 

  %h2 Inne
  %input{:onclick => "reset()", :type => "button", :value => "reset"} 
