%canvas{:id => 'canvas', :width => '800px', :height => '600px'}

%div
  %h2 sterowanie
  %table
    %tr
      %th Klawisze
      %th Funkcja
    %tr 
      %td z i Z
      %td obrót wokół osi z
    %tr 
      %td x i X
      %td obrót wokół osi x
    %tr 
      %td c i C
      %td obrót wokół osi y
    %tr
      %td w, s, a, d, e, q
      %td poruszanie się
    %tr
      %td 1, 2
      %td zoom
