$dark: #473423
$coffee: #755A42
$latte: #AC8B6F
$gareth: #D3C5B0
$froth: #F5EEDE

body
  font:
    family: Verdana
    size: 10pt
  color: $dark
  background-color: $froth

#canvas
  float: left
  background: black

#panel
  float: left
  margin-left: 20px
